<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @band.kind %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @band.start_date %>
</p>

<% if @band.concerts.present? %>
<ul>
<% @band.concerts.each do |concert| %>
<li><%= link_to concert.location, band_concert_path(@band, concert) %></li>
<% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>